html,
body,
.content,
.index-section{
    float: none;
}
.content{
    position: static;
}
.index-section{
    position: relative;
}
.index-section_career-history{
    //page-break-before: always;
    //page-break-inside: avoid;
    // page-* prop dose not working
    // so to separate page added space
    margin-top: 700px;
}
.index-section_skill{
    // page-break-before: always;
    // page-break-inside: avoid;
    // page-* prop dose not working
    // so to separate page added space
    margin-top: 350px;
}
.hide-print{
    display: none;
}
