// @param {String[]} urls url list to prefetch
mixin dnsPrefetch(urls)
    meta(http-equiv='x-dns-prefetch-control', content='on')
    each url in urls
        link(rel='dns-prefetch', href='#{url}')
