//- @param {Object} data
//- @param {String} data.type type of viewport (dw or undefined)
//- @param {Number} data.width width
mixin viewport(data)
    if (data.type === 'dw')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    else
        meta(name='viewport', content='width=#{data.width}')
