include /mixin/_scripts
include /mixin/_favicon
include /mixin/meta/_ogp
include /mixin/meta/_viewport
include /mixin/meta/_basicInfo
include /mixin/_googleAnalytics
//- include /mixin/_dnsPrefetch
extends /extends/_application.jade

block title
    title front-end engineer tomoyuki kashiro
block viewport
    +viewport({ type: 'dw'})
block meta
    +basicInfo({desc: 'front-end engineer tomoyuki kashiro resume', keywords: 'front-end, engineer, resume'})
    +ogp({locale: 'en_US', title: 'front-end engineer tomoyuki kashiro', type: 'profile', url: 'http://tomoyukikashiro.me/resume', siteName: 'front-end engineer tomoyuki kashiro', desc: 'front-end engineer tomoyuki kashiro resume'})
    +favicon({url: 'favicon.ico'})
block css
    link(rel='stylesheet', href='styles/main.css', media="all")
block cssprint
    link(rel='stylesheet', href='styles/print.css', media="print")


block body

    .content
        include /include/_header
        include /include/_nav
        main.index-section
            include /include/section/_basic-info
            include /include/section/_summary
            include /include/section/_career-history
            include /include/section/_skill
            include /include/section/_edu

    +ga({id: 'UA-50867411-1', domain: 'auto'})

//- block appScripts
//-     +scripts(scripts.app)
