extends /extends/_application.jade
include /mixin/_favicon.jade
include /mixin/meta/_ogp.jade
include /mixin/meta/_viewport.jade
include /mixin/meta/_basicInfo.jade
include /mixin/_googleAnalytics.jade

block title
    title front-end engineer tomoyuki kashiro
block viewport
    +viewport({ type: 'dw'})
block meta
    +basicInfo({desc: 'front-end engineer tomoyuki kashiro resume', keywords: 'front-end, engineer, resume'})
    +ogp({locale: 'en_US', title: 'front-end engineer tomoyuki kashiro', type: 'profile', url: 'http://tomoyukikashiro.me/resume', siteName: 'front-end engineer tomoyuki kashiro', desc: 'front-end engineer tomoyuki kashiro resume'})
    +favicon({url: 'favicon.ico'})
block body
    .content
        include /include/_header.jade
        main.index-section
            include /include/section/_basic-info.jade
            include /include/section/_summary.jade
            include /include/section/_career-history.jade
            include /include/section/_skill.jade
            include /include/section/_edu.jade

    +ga({id: 'UA-50867411-1', domain: 'auto'})
