include /mixin/_scripts
include /mixin/_favicon
include /mixin/meta/_ogp
include /mixin/meta/_viewport
include /mixin/meta/_basicInfo
include /mixin/_googleAnalytics
//- include /mixin/_dnsPrefetch
extends /extends/_application.jade

block title
    title
block viewport
    +viewport({ type: 'dw'})
block meta
    +basicInfo({})
    +ogp({})
    +favicon({url: 'favicon.ico'})
block css
    link(rel='stylesheet', href='styles/main.css')


block body

    .content
        include /include/_header
        include /include/_nav
        main.index-section
            include /include/section/_basic-info
            section.index-section_summary
            section.index-section_career-history
            section.index-section_skill
            section.index-section_edu

    +ga({id: '', domain: ''})

block appScripts
    +scripts(scripts.app)
