section.index-section_base
    .basic-info__text
        h1.basic-info__text_name TOMOYUKI KASHIRO
        h2.basic-info__text_position Front-end Engineer
        .basic-info__text_more
            .basic-info__text_info
                dt.basic-info__text_more_name Birth Date
                dt.basic-info__text_more_value 30 / 04 / 1985
                dt.basic-info__text_more_name Languages
                dt.basic-info__text_more_value Japanese(native), English(conversational)
                dt.basic-info__text_more_name Nationality
                dt.basic-info__text_more_value Japan

            .basic-info__text_link
                dt.basic-info__text_more_name Website
                dt.basic-info__text_more_value
                    a(href="https://tomoyukikashiro.me" target="_blank") https://tomoyukikashiro.me
                dt.basic-info__text_more_name Github
                dt.basic-info__text_more_value
                    a(href="https://github.com/kashiro" target="_blank") https://github.com/kashiro
                dt.basic-info__text_more_name Email
                dt.basic-info__text_more_value
                    a(href="mailto:ksrtmyk@gmail.com" target="_blank") ksrtmyk@gmail.com
                dt.basic-info__text_more_name PDF
                dt.basic-info__text_more_value
                    a(href=require("../../../download/resume.pdf") download) Download
