section.index-section_basic-info
    .index-section_basic-info_text
        h1.index-section_basic-info_text_name TOMOYUKI KASHIRO
        h2.index-section_basic-info_text_position Front-end Engineer
        .index-section_basic-info_text_more
            .index-section_basic-info_text_info
                dt.index-section_basic-info_text_more_name Birth Date
                dt.index-section_basic-info_text_more_value 30 / 04 / 1985
                dt.index-section_basic-info_text_more_name Languages
                dt.index-section_basic-info_text_more_value Japanese(native), English(conversational)
                dt.index-section_basic-info_text_more_name Nationality
                dt.index-section_basic-info_text_more_value Japan

            .index-section_basic-info_text_link
                dt.index-section_basic-info_text_more_name Website
                dt.index-section_basic-info_text_more_value
                    a(href="http://tomoyukikashiro.me" target="_blank") http://tomoyukikashiro.me
                dt.index-section_basic-info_text_more_name Github
                dt.index-section_basic-info_text_more_value
                    a(href="https://github.com/kashiro" target="_blank") https://github.com/kashiro
                dt.index-section_basic-info_text_more_name Email
                dt.index-section_basic-info_text_more_value
                    a(href="mailto:ksrtmyk@gmail.com" target="_blank") ksrtmyk@gmail.com
                dt.index-section_basic-info_text_more_name.hide-print resume
                dt.index-section_basic-info_text_more_value.hide-print
                    a(href="download/resume.pdf", download, target="_blank") download
    .index-section_basic-info_img
        img(src="images/profile.jpg" width="200" alt="profile picture of tomoyuki kashiro")

