section.index-section_basic-info
    .index-section_basic-info_text
        h1.index-section_basic-info_text_name TOMOYUKI KASHIRO
        h2.index-section_basic-info_text_position Front-end Engineer
        .index-section_basic-info_text_more
            dt.index-section_basic-info_text_more_name Website
            dt.index-section_basic-info_text_more_value
                a(href="http://tomoyukikashiro.me" target="_blank") http://tomoyukikashiro.me
            dt.index-section_basic-info_text_more_name Github
            dt.index-section_basic-info_text_more_value
                a(href="https://github.com/kashiro" target="_blank") https://github.com/kashiro
            dt.index-section_basic-info_text_more_name Email
            dt.index-section_basic-info_text_more_value
                a(href="mailto:ksrtmyk@gmail.com" target="_blank") ksrtmyk@gmail.com
    .index-section_basic-info_img
        img(src="images/profile.jpg" width="200" alt="profile picture of tomoyuki kashiro")

