section.index-section_base
    h1.index-section_base_title Experience

    section.career-history__year
        .career-history__year_num-line
            h1.career-history__year_num 2008
            aside.career-history__year_line

        .career-history__position-outer
            section.career-history__position
                p.career-history__date 2008 - 2010
                h1.career-history__position-name Java Engineer
                p.career-history__affiliation
                    a(href="http://www.rakuten.co.jp/", target="_blank") Rakuten, Inc. (Tokyo, Japan)
                ul.career-history__desc
                    li.career-history__desc_item Developed e-commerce recommendation and ranking system using Java and Perl
                    li.career-history__desc_item Managed API application with memcached and hadoop
                    li.career-history__desc_item Managed projects with the business department

    section.career-history__year
        .career-history__year_num-line
            h1.career-history__year_num 2010
            aside.career-history__year_line

        .career-history__position-outer
            section.career-history__position
                p.career-history__date 2010 - 2012
                h1.career-history__position-name Front-end Engineer
                p.career-history__affiliation
                    a(href="http://www.rakuten.co.jp/", target="_blank") Rakuten, Inc. (Tokyo, Japan)
                ul.career-history__desc
                    li.career-history__desc_item Worked on Front-end development using standards based on HTML5 and CSS3 working with jQuery/jQuery mobile
                    li.career-history__desc_item Created Javascript coding guideline and reviewed codes
                    li.career-history__desc_item Spearheaded adoption of new principles such as responsive design and mobile first
                    li.career-history__desc_item Refined and iterated page speed by using server settings, cache server and front-end tool (minified source)

    section.career-history__year
        .career-history__year_num-line
            h1.career-history__year_num 2012
            aside.career-history__year_line

        .career-history__position-outer
            section.career-history__position
                p.career-history__date 2012 - 2014
                h1.career-history__position-name Front-end Engineer
                p.career-history__affiliation
                    a(href="http://www.kayac.com/", target="_blank") KAYAC, Inc. (Yokohama, Japan)
                ul.career-history__desc
                    li.career-history__desc_item Managed projects with designer and Back-end developer
                    li.career-history__desc_item Developed UI/UX with client and designer via prototyping (bootstrap, paper prototype)
                    li.career-history__desc_item Developed project goal and strategy with client (UI/UX and Measurement)
                    li.career-history__desc_item Developed web application and campaign sites using standards based on HTML5 and CSS3 and featured libraries such as Angular, Sencha Touch, and BackboneJS
                    li.career-history__desc_item Spearheaded teaching of front-end web security to the team

    section.career-history__year
        .career-history__year_num-line
            h1.career-history__year_num 2015
            aside.career-history__year_line

        .career-history__position-outer
            section.career-history__position
                p.career-history__date 2015 - 2015
                h1.career-history__position-name Web Developer
                p.career-history__affiliation Freelance (Tokyo, Japan)
                ul.career-history__desc
                    li.career-history__desc_item Developing e-commerce web application etc...
                    li.career-history__desc_item Front-end Developer but developed server-side too using Ruby on Rails, Angular and Mongodb.

    section.career-history__year
        .career-history__year_num-line
            h1.career-history__year_num 2016
            aside.career-history__year_line

        .career-history__position-outer
            section.career-history__position
                p.career-history__date 2016 - 2017
                h1.career-history__position-name Web Developer
                p.career-history__affiliation
                    a(href="https://materialworld.co", target="_blank") Material World, Inc. (New York, U.S)
                ul.career-history__desc
                    li.career-history__desc_item Developing Fashion Trade-in web application
                    li.career-history__desc_item Using Angular, Django
