section.index-section_career-history
    h1.index-section_career-history_title Experience

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2008
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2008 - 2010
                h1.index-section_history_position-name Java Engineer
                p.index-section_history_affiliation
                    a(href="http://www.rakuten.co.jp/", target="_blank") Rakuten, Inc. (Tokyo, Japan)
                ul.index-section_history_desc
                    li.index-section_history_desc_item Developed Ecommerce recommendation and ranking system utilizing Java and Perl
                    li.index-section_history_desc_item Managed API application with memcached and hadoop
                    li.index-section_history_desc_item Fixed bugs and maintained the site
                    li.index-section_history_desc_item Managed projects with the business department

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2010
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2010 - 2012
                h1.index-section_history_position-name Front-end Engineer
                p.index-section_history_affiliation
                    a(href="http://www.rakuten.co.jp/", target="_blank") Rakuten, Inc. (Tokyo, Japan)
                ul.index-section_history_desc
                    li.index-section_history_desc_item Worked in front-end development using standards based on HTML5 and CSS3 working with jQuery/jQuery mobile
                    li.index-section_history_desc_item Created Javascript coding guideline and reviewed codes
                    li.index-section_history_desc_item Spearheaded adoption of new principles such as responsive design and mobile first
                    li.index-section_history_desc_item Refined and iterated page speed by using server settings, cache server and front-end tool (minified source)

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2012
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2012 - 2014
                h1.index-section_history_position-name Front-end Engineer
                p.index-section_history_affiliation
                    a(href="http://www.kayac.com/", target="_blank") KAYAC, Inc. (Yokohama, Japan)
                ul.index-section_history_desc
                    li.index-section_history_desc_item Managed projects with designer and backend programmer
                    li.index-section_history_desc_item Developed UI/UX with client and designer via prototyping (bootstrap, paper prototype)
                    li.index-section_history_desc_item Developed project goal and its tactics with client (UI/UX and Measurement)
                    li.index-section_history_desc_item Developed web application and campaign sites utilizing standards based on HTML5 and CSS3 and featured libraries such as Angular, Sencha Touch, and BackboneJS
                    li.index-section_history_desc_item Spearheaded teaching of front-end web security within the team

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2015
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2015 - 2015
                h1.index-section_history_position-name Web Developer
                p.index-section_history_affiliation Freelance (Tokyo, Japan)
                ul.index-section_history_desc
                    li.index-section_history_desc_item Developing E-commerce web application etc...
                    li.index-section_history_desc_item Front-end Developer but developed server-side too using Ruby on Rails, Angular and Mongodb.

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2016
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2016 - 2017
                h1.index-section_history_position-name Web Developer
                p.index-section_history_affiliation
                    a(href="https://materialworld.co", target="_blank") Material World, Inc. (NewYork, America)
                ul.index-section_history_desc
                    li.index-section_history_desc_item Developing Fashion Trade-in web application
                    li.index-section_history_desc_item Using Angular, Django
