section.index-section_career-history
    h1.index-section_career-history_title Experience

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2008
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2008 - 2010
                h1.index-section_history_position-name Java Engineer
                p.index-section_history_affiliation
                    a(href="http://www.rakuten.co.jp/", target="_blank") Rakuten, Inc.
                ul.index-section_history_desc
                    li.index-section_history_desc_item Developing Ecommerce recommendation and Ranking system utilizing Java and Perl.
                    li.index-section_history_desc_item API application management with memcached and hadoop.
                    li.index-section_history_desc_item Mainly fix bug and manage maintenance.
                    li.index-section_history_desc_item Project management with Bissiness department.

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2010
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2010 - 2012
                h1.index-section_history_position-name Front-end Engineer
                p.index-section_history_affiliation
                    a(href="http://www.rakuten.co.jp/", target="_blank") Rakuten, Inc.
                ul.index-section_history_desc
                    li.index-section_history_desc_item Front-end development using standards based HTML5 and CSS3 working with jQuery/jQuery mobile.
                    li.index-section_history_desc_item Create Javascript coding guideline and review cordes.
                    li.index-section_history_desc_item Spearheaded adoption of new principles such as responsive design and mobile first.
                    li.index-section_history_desc_item Refine and iterate page speed by using server settings, cache server and front-end tool (minify source).

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2012
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2012 - 2014
                h1.index-section_history_position-name Front-end Engineer
                p.index-section_history_affiliation
                    a(href="http://www.kayac.com/", target="_blank") KAYAC, Inc.
                ul.index-section_history_desc
                    li.index-section_history_desc_item Project management corprate with Designer and backend programmer.
                    li.index-section_history_desc_item UI/UX development with client and Designer using prototyping. (bootstrap, paper prototype)
                    li.index-section_history_desc_item Meet with client to determine project goal and discuss tactics ( UI/UX and Measurement )
                    li.index-section_history_desc_item Web application and campaigns site development utilizing standards based HTML5 and CSS3 and featured library such as AngularJS, Sencha Touch, and BackboneJS.
                    li.index-section_history_desc_item Spearheaded teaching of front-end web security and new tech in team.

