section.index-section_base
    h1.index-section_base_title Education

    section.career-history__year
        .career-history__year_num-line
            h1.career-history__year_num 2004
            aside.career-history__year_line

        .career-history__position-outer
            section.career-history__position
                p.career-history__date 2004 - 2008
                h1.career-history__position-name Sociology
                p.career-history__affiliation TOYO UNIVERSITY
                p.career-history__desc I majored in Sociology to pursue a career as PR. However, I realized the impact of the Internet and have started to study skills such as HTML and CSS.
