section.index-section_edu-history
    h1.index-section_edu-history_title Education

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2008
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2008 - 2009
                h1.index-section_history_position-name Sociology
                p.index-section_history_affiliation TOYO UNIVERSITY
                p.index-section_history_desc Elit tempore laborum dolores aut incidunt minus nemo. Ipsa dolores minus nulla blanditiis voluptas tenetur dicta. Libero architecto illo debitis pariatur iusto. Animi aut eaque dolorem consequatur totam itaque veritatis!
