section.index-section_edu-history
    h1.index-section_edu-history_title Education

    section.index-section_history_year
        .index-section_history_year_num-line
            h1.index-section_history_year_num 2004
            aside.index-section_history_year_line

        .index-section_history_position-outer
            section.index-section_history_position
                p.index-section_history_date 2004 - 2008
                h1.index-section_history_position-name Sociology
                p.index-section_history_affiliation TOYO UNIVERSITY
                p.index-section_history_desc I majored in Sociology to be press person. But I have realized internet give big impact to our life. so I have gone to another school to study internet skill such as HTML, CSS.
