section.index-section_skill
    h1.index-section_skill_title Skills

    section.index-section_skill_outer
        .index-section_skill_inner
            h1.index-section_skill_subtitle Development Language
            .index-section_skill_list
                dt.index-section_skill_list-item HTML5
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item CSS3
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item JavaScript
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item Ruby
                dd.index-section_skill_list-star &#9733;&#9733;&#9734;&#9734;&#9734;
                dt.index-section_skill_list-item NodeJS
                dd.index-section_skill_list-star &#9733;&#9733;&#9734;&#9734;&#9734;

        .index-section_skill_inner--large
            h1.index-section_skill_subtitle Framework, Library
            .index-section_skill_list
                dt.index-section_skill_list-item jQuery
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item Sencha Touch
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item AngularJS
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9734;&#9734;
                dt.index-section_skill_list-item Sass (SCSS)
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item Jade
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item Ruby on Rails
                dd.index-section_skill_list-star &#9733;&#9733;&#9734;&#9734;&#9734;
                dt.index-section_skill_list-item Grunt / bower / Yeoman
                dd.index-section_skill_list-star--large &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item karma / sinon / mocha
                dd.index-section_skill_list-star--large &#9733;&#9733;&#9733;&#9733;&#9733;

        .index-section_skill_inner--large
            h1.index-section_skill_subtitle Tools
            .index-section_skill_list
                dt.index-section_skill_list-item Heroku
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9734;&#9734;
                dt.index-section_skill_list-item GitHub
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9734;
                dt.index-section_skill_list-item Google Analytics
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9734;
                dt.index-section_skill_list-item Photoshop (slicing image)
                dd.index-section_skill_list-star--large &#9733;&#9733;&#9733;&#9733;&#9734;
                dt.index-section_skill_list-item Travis ci
                dd.index-section_skill_list-star &#9733;&#9733;&#9734;&#9734;&#9734;
                dt.index-section_skill_list-item Sketch3 app (slicing image)
                dd.index-section_skill_list-star--large &#9733;&#9733;&#9733;&#9733;&#9734;

