section.index-section_base
    h1.index-section_base_title Skills

    section.skill__outer
        .skill__inner
            h1.skill__subtitle Language
            .skill__list
                dt.skill__list-item HTML
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.skill__list-item CSS
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.skill__list-item JavaScript
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.skill__list-item Python
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9734;
                dt.skill__list-item Ruby
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9734;
                dt.skill__list-item NodeJS
                dd.skill__list-star &#9733;&#9733;&#9734;&#9734;&#9734;

        .skill__inner
            h1.skill__subtitle Framework, Library
            .skill__list
                dt.skill__list-item Angular
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9734;
                dt.skill__list-item Webpack/Gulp
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.skill__list-item karma / sinon / mocha
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.skill__list-item Django
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9734;
                dt.skill__list-item Ruby on Rails
                dd.skill__list-star &#9733;&#9733;&#9733;&#9733;&#9734;
