section.index-section_skill
    h1.index-section_skill_title Skills

    section.index-section_skill_outer
        .index-section_skill_inner
            h1.index-section_skill_subtitle Development Langage
            .index-section_skill_list
                dt.index-section_skill_list-item HTML5
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item CSS3
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item JavaScript
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item Ruby
                dd.index-section_skill_list-star &#9733;&#9733;&#9734;&#9734;&#9734;

        .index-section_skill_inner
            h1.index-section_skill_subtitle Framework, Library
            .index-section_skill_list
                dt.index-section_skill_list-item HTML5
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item CSS3
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item JavaScript
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item Ruby
                dd.index-section_skill_list-star &#9733;&#9733;&#9734;&#9734;&#9734;

        .index-section_skill_inner
            h1.index-section_skill_subtitle Framework, Library
            .index-section_skill_list
                dt.index-section_skill_list-item HTML5
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item CSS3
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item JavaScript
                dd.index-section_skill_list-star &#9733;&#9733;&#9733;&#9733;&#9733;
                dt.index-section_skill_list-item Ruby
                dd.index-section_skill_list-star &#9733;&#9733;&#9734;&#9734;&#9734;
