section.index-section_base
    h1.index-section_base_title Summary
    p.index-section_summary_desc
        | I've been working on web development in Tokyo and New York for 9 years. I'm focus on Front-end web application development (Angular,Preact) but I can also use Back-end (Ruby, Python). Main business I worked was e-commerce. I made many efforts to apply TDD and morden application strategy consulting with business.  
