section.index-section_summary
    h1.index-section_summary_title Summary
    p.index-section_summary_desc
        | I am a front-end engineer developing website and web applications for six years. <br>
        | I am learning back-end programs such as Ruby (Rails) currently. In addition to development work, I have extensive experience in managing projects as a project manager.
