section.index-section_base
    h1.index-section_base_title Summary
    p.index-section_summary_desc
        | I've launched 2 web applications(E-comerce) full renewal projects in U.S. and Japan and corporation sites too. I can help you with not only web application development but also development environment like build tool(webpack,gulp) and tests (unit, feature).
