section.index-section_summary
    h1.index-section_summary_title Summary
    p.index-section_summary_desc
        | I'm a front-end engineer developing web site and web application for 6 years. I earn backend program such as ruby (Rails) Currently.
        | Not only developing web site and web application but also managing project as a project manager. I love working together.
