section.index-section_base
    h1.index-section_base_title Summary
    p.index-section_summary_desc
        | I've beenn working as a front-end engineer for 8 years. <br>
        | Recently I work in not only front-end but also back-end (Ruby, Pthyon) But forcus on front-end.
        | And also I have extensive experience in managing projects as a project manager.
