section.index-section_summary
    h1.index-section_summary_title Summary
    p.index-section_summary_desc
        | Amet earum quisquam blanditiis eum aperiam, dicta culpa incidunt. Placeat magni dolorum doloribus sed atque! Perferendis expedita eveniet magnam veniam praesentium aliquid quis? Repudiandae expedita quae ducimus est perspiciatis. Minima.
