doctype html
html(lang='ja', prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    //- itemtype http://schema.org/docs/full.html
    head(itemscope, itemtype="http://schema.org/WebPage")
        meta(charset='utf-8')
        meta(name="format-detection", content="telephone=no")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block title
        block viewport
        block meta
        block css
        block cssprint

    body
        block body

