include /mixin/_cComment
doctype html
html(lang='ja', prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    //- itemtype http://schema.org/docs/full.html
    head(itemscope, itemtype="http://schema.org/WebPage")
        meta(charset='utf-8')
        meta(name="format-detection", content="telephone=no")
        +ie
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block title
        block viewport
        block meta

        +ltIE9
            script(src='bower_components/html5shiv/dist/html5shiv.js')

        // build:css({.tmp,app}) styles/main.css
        block css
        // endbuild

    body
        block body

        // build:js(app) scripts/vendor.js
        block vendorScripts
        // endbuild
        // build:js({app,.tmp}) scripts/main.js
        block appScripts
        // endbuild

