//- @param {String[]} data scripts url list
mixin scripts(data, path)
    - var _path = '';
    - if (path !== undefined)
        - _path = path;

    each url in data
        script(src='#{_path}#{url}')
